/*herencia*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

ul li {
  float: left;
}

a {
  padding: 5px;
  text-decoration: none;
  color: #FFF;
  height: 30px;
  margin-right: 3px;
}

.background {
  background: rgba(255,255,255,.3);
  border-radius: 3px;
}

body {
  background: #0079BF;
  font-family: Helvetica, sans-serif;
  color: #FFF;
}

header {
  width: 100%;
  text-align: justify;
  background: #0067A3;
  padding: 5px 10px;
  height: 40px;
  z-index: 1000;
}

header::after {
  width: 100%;
  content:"";
  display: inline-block;
}

header .navbar {
  display: inline-block;
  vertical-align: middle;
}

img {
  width: 80px;
  opacity: 0.5;
}

.logo {
  margin: auto;
}

.navbar input {
  background: rgba(255,255,255,.3);
  border: none;
}

.menu-bar {
  height: 50px;
  padding: 10px;
}

.show-menu {
  margin-top: 5px;
  float: right;
}
